# Exploring a DataFrame

## Setup

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

## Create DataFrame from mantle.csv
Get the first seven columns and use 'Year' as the index column.

In [2]:
df = pd.read_csv('../csvs/mantle.csv', usecols=[0,1,2,3,4,5,6],index=)
df

    Year   Tm    G   PA   AB    R    H
0   1951  NYY   96  386  341   61   91
1   1952  NYY  142  626  549   94  171
2   1953  NYY  127  540  461  105  136
3   1954  NYY  146  649  543  129  163
4   1955  NYY  147  638  517  121  158
..   ...  ...  ...  ...  ...  ...  ...
13  1964  NYY  143  567  465   92  141
14  1965  NYY  122  435  361   44   92
15  1966  NYY  108  393  333   40   96
16  1967  NYY  144  553  440   63  108
17  1968  NYY  144  547  435   57  103

[18 rows x 7 columns]

## Explore DataFrame
Get the column names, index, and the number of rows and columns

## Get quick information on the data
For example, counts, means, mins and maxes

## Get the first three rows of data

## Get the last three rows of data

## Get just the AB and H columns