# Exploring a DataFrame

## Setup

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

## Create DataFrame from mantle.csv
Get the first seven columns and use 'Year' as the index column.

In [2]:
csv ='../csvs/mantle.csv'
mantle = pd.read_csv(csv, usecols=[0,1,2,3,4,5,6], index_col=['Year'])
mantle

       Tm    G   PA   AB    R    H
Year
1951  NYY   96  386  341   61   91
1952  NYY  142  626  549   94  171
1953  NYY  127  540  461  105  136
1954  NYY  146  649  543  129  163
1955  NYY  147  638  517  121  158
...   ...  ...  ...  ...  ...  ...
1964  NYY  143  567  465   92  141
1965  NYY  122  435  361   44   92
1966  NYY  108  393  333   40   96
1967  NYY  144  553  440   63  108
1968  NYY  144  547  435   57  103

[18 rows x 6 columns]

## Explore DataFrame
Get the column names, index, and the number of rows and columns

In [5]:
mantle.columns,mantle.index,len(mantle)

(Index(['Tm', 'G', 'PA', 'AB', 'R', 'H'], dtype='object'),
 Int64Index([1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
             1962, 1963, 1964, 1965, 1966, 1967, 1968],
            dtype='int64', name='Year'),
 18)

## Get quick information on the data
For example, counts, means, mins and maxes

## Get the first three rows of data

## Get the last three rows of data

## Get just the AB and H columns