In [1]:
from IPython.display import HTML
import numpy as np
import pandas as pd

with open('quiz-pandas.html') as f:
    quiz_form = f.read()
    

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

csv ='../csvs/us-population-2010-2014.csv'
pops = pd.read_csv(csv, usecols=[0,1,5,6], thousands=',')
    
HTML(quiz_form)

### Setup
Run the cell above this to import NumPy and pandas and create a pandas DataFrame called `pops`.

Write code to answer the questions below and check your answers in the boxes that appear above.

### Question 1
How many males in their 30s were there in 2013?

In [2]:
#Do your work here and then check your answer in field 1 above.
pops.POPESTIMATE2013[(pops.SEX=='M')&(pops.AGE>29)&(pops.AGE<40)].sum()

20480648

### Question 2
What was the average age of all people in 2014 rounded to the nearest integer?

In [3]:
#Do your work here and then check your answer in field 2 above.
int(round((pops.AGE*pops.POPESTIMATE2014).sum()/pops.POPESTIMATE2014.sum()))

38

### Problem 1
Write a check to make sure that there are no age groups in which the number of females plus the number of males does not add up to the total number of people that age in 2014.

In [4]:
#Do your work here.
m=pops.POPESTIMATE2014[pops.SEX=='M']
f=pops.POPESTIMATE2014[pops.SEX=='F']
a=pops.POPESTIMATE2014[pops.SEX=='A']

m.index=np.arange(len(m))
f.index=np.arange(len(f))
a.index=np.arange(len(a))

a[m+f != a]

Series([], Name: POPESTIMATE2014, dtype: int64)

### Problem 2
Create a `pop2014` DataFrame with three columns: Males, Females, All

In [5]:
#Do your work here.
m=pops.POPESTIMATE2014[pops.SEX=='M']
f=pops.POPESTIMATE2014[pops.SEX=='F']
a=pops.POPESTIMATE2014[pops.SEX=='A']

m.index=np.arange(len(m))
f.index=np.arange(len(f))
a.index=np.arange(len(a))


#df=pd.concat([m,f,a],axis=1)
#df.columns=['Male','Female','All']
df = pd.DataFrame({'Male':m,'Female':f,'All':a})

df

        Male   Female      All
0    2017857  1930493  3948350
1    2023253  1938870  3962123
2    2022502  1935270  3957772
3    2048618  1956572  4005190
4    2043498  1959950  4003448
..       ...      ...      ...
96     31235    89949   121184
97     20479    63252    83731
98     13649    46536    60185
99      9037    32791    41828
100    13729    58468    72197

[101 rows x 3 columns]